body{
    background-color: rgb(194, 194, 67);
    height: auto;
}
header{
    width: 75%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    align-content: center;
    background: red ;
    border: none;
    padding: 2% 2%;
    
}
main{
    width: 75%;
    height: auto;
    background-color: rgb(72, 115, 255);
    margin: 0 auto;
    padding: 2% 2%;
    align-content: center;
    text-align: center;
}